<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<script type = "text/javascript">
function change_button(checkbx,button_id) {
    var btn = document.getElementById(button_id);
    if (checkbx.checked == true) {
        btn.disabled = "";
    } else {
        btn.disabled = "disabled";
    }
}
</script>
<body>
<form id="insertQuestion" name="insertQuestion" method="post" action="../insertQuestion" enctype="multipart/form-data">


  Question: <br/>
  <textarea name="question_text" rows="4" cols="50"></textarea>
  <br/>



  <label for="subject_name">Subject: </label>
  <select name="subject_name">
    {{#each subject_list}}
      <option value="{{subject_name}}"> {{subject_name}}</option>
    {{/each}}
  </select>

  <br/>

  <label for="topic_name">Topic: </label>
  <select name="topic_name">
      {{#each topic_list}}
        <option value="{{topic_name}}"> {{topic_name}}</option>
      {{/each}}
  </select>
  <br/>

  <label for="question_marks">Question Marks: </label>
  <input name="question_marks" type="text" value="4"/>
  <br/>

  <div>
      <label>Question Image: </label>
      <input type="file" name="uploaded_image" accept=""/>
  </div>


  <br/>



  Options:
  <br/> 
  <label>1 : </label>
  <input name="options" type="text"/>
  <input name="correct" type="checkbox" value="1"/>
  <input type="file" name="option_images" disabled="disabled" accept="" id="sub1"/>  
  <input type="checkbox" name="termsChkbx" onclick="change_button(this,'sub1')" value="1" />
  <br/>
  <label>2 : </label>
  <input name="options" type="text"/>
  <input name="correct" type="checkbox" value="2"/>
  <input type="file" name="option_images" disabled="disabled" accept="" id="sub2"/>  
  <input type="checkbox" name="termsChkbx" onclick="change_button(this,'sub2')" value="2" />
  <br/>
  <label>3 : </label>
  <input name="options" type="text"/>
  <input name="correct" type="checkbox" value="3"/>
  <input type="file" name="option_images" disabled="disabled" accept="" id="sub3"/>  
  <input type="checkbox" name="termsChkbx" onclick="change_button(this,'sub3')" value="3" />
  <br/>
  <label>4 : </label>
  <input name="options" type="text"/>
  <input name="correct" type="checkbox" value="4"/>
  <input type="file" name="option_images" disabled="disabled" accept="" id="sub4"/>  
  <input type="checkbox" name="termsChkbx" onclick="change_button(this,'sub4')" value="4" />
  <br/>


  
  <input class="btn" type="submit" value="Insert" />
</form>

</body>
</html>